{% extends "list_template.html" %}

{% block content %}
<div style="text-align: center; margin-top: 5vh;">
    <a href="{% url 'profile' topic.Author %}" style="display: block;">{{ topic.Author }}</a>
    {{ topic.text }}
</div>

<style>
            #comment-form {
                text-align: center;
                margin: 20px auto;
                max-width: 600px;
            }

            #comment-form form {
                margin: 0;
            }
</style>

<div id="comment-form">
    <h2>Оставить комментарий</h2>
    <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить комментарий</button>
    </form>
    {% for comment in comments %}
        <div style="text-align: center; margin-bottom: 10px;">
    <a href="{% url 'profile' user.username %}" style="display: block; margin-bottom: 5px;">{{ comment.author.username }}</a>
    <p style="display: block;">{{ comment.text }}</p>
</div>
    </div>
    {% endfor %}

</div>
{% endblock %}