{% extends "base_generic.html" %}


{% block content %}
<body>
  {% if is_exist == -1 %}
    <p style="color: red;">Такая глава уже существует</p>
    {% endif %}
  {% if is_exist == 1 %}
      <p style="color: green;">Глава успешно изменена.</p>
  {% endif %}
    <div style="margin-top: 20px;">
    <form action="{% url 'change_chapter' user.username %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Изменить</button>
    </form>
  </div>
</body>
{% endblock %}