{% extends "base_generic.html" %}

{% block content %}
    {% if current_page < page_count %}
        <a href="{% url 'chapter-detail' work.slug chapter.chapter %}?page={{ page }}">
            <img src="{{ url }}" alt="{{ ch.title }}">
        </a>
    {% else %}
        <a href="{% url 'work-detail' work.slug %}?page={{ page }}">
            <img src="{{ url }}" alt="{{ ch.title }}">
        </a>
    {% endif %}
    <body>

        <style>
            #comment-form {
                text-align: center;
                margin: 20px auto;
                max-width: 600px;
            }

            #comment-form form {
                margin: 0;
            }
        </style>

        <div id="comment-form">
            <h2>Оставить комментарий</h2>
            <form action="#" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Отправить комментарий</button>
            </form>
        </div>

    </body>
{% endblock %}