{% extends "base_generic.html" %}

{% block content %}
  <body>

        <style>
            #comment-form {
                text-align: center;
                margin: 20px auto;
                max-width: 600px;
            }

            #comment-form form {
                margin: 0;
            }
        </style>

        <div id="comment-form">
            <h2>Оставить комментарий</h2>
            <form action="#" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Отправить комментарий</button>
            </form>
        </div>

    </body>

    {% for comment in comments %}
        <div style="text-align: center; margin-bottom: 10px;">
        <a href="{% url 'profile' user.username %}" style="display: inline-block;">{{ comment.author.username }}</a>
        <p style="display: inline-block;">{{ comment.text }}</p>
    </div>
    {% endfor %}
{% endblock %}