<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>MangaReader</title>{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
</head>
<body>
    {% block main_page %}
    <a href="{% url 'home_page' %}" class="left-top-button">MangaReader</a>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="right-top-button-login">выход</a>
    <a href="{% url 'profile' user.username %}" class="right-top-button-register">{{ user.username }}</a>
    {% if user.is_superuser %}
    <a href="{% url 'admin:index' %}" class="right-top-button-admin">Админ Панель</a>
    {% endif %}
    {% else %}
    <a href="{% url 'login' %}" class="right-top-button-login">вход</a>
    <a href="{% url 'register' %}" class="right-top-button-register">регистрация</a>
    {% endif %}
    <div style="text-align: center; padding: 10px;">
        <button id="btn1">Каталог</button>
        <button id="btn2">Форум</button>
    </div>
    <div id="popup1" class="popup">
        <a href="{% url 'manga-list' %}?type=1" class="popup-button">Манга</a>
            <a href="{% url 'manga-list' %}?type=2" class="popup-button">Манхва</a>
    </div>
    <div id="popup2" class="popup">
            <a href="{% url 'forum' %}" class="popup-button">Форум</a>
    </div>
    <script>
        document.getElementById("btn1").addEventListener("click", function () {
            var list1 = document.getElementById("popup1");
            if (list1.style.display === "none" || list1.style.display === "") {
                list1.style.display = "block";
            } else {
                list1.style.display = "none";
            }
        });

        document.getElementById("btn2").addEventListener("click", function () {
            var list2 = document.getElementById("popup2");
            if (list2.style.display === "none" || list2.style.display === "") {
                list2.style.display = "block";
            } else {
                list2.style.display = "none";
            }
        });
        document.getElementById("btn3").addEventListener("click", function () {
            var list2 = document.getElementById("popup3");
            if (list2.style.display === "none" || list2.style.display === "") {
                list2.style.display = "block";
            } else {
                list2.style.display = "none";
            }
        });
    </script>
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>
</html>